$mwContainer: 1400px;
$md1: $mwContainer + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

.profile {
  margin-left: 120px;
  padding: 80px 20px 15px 20px;
  background-color: #23272f;
  width: 100%;
  @media (max-width: $md3) {
    margin-left: 0;
  }
  // .profile__header
  &__header {
    margin: 0px 0px 10px 0px;
  }
  // .profile__posts
  &__posts {
  }
}

.header-profile {
  display: flex;
  @media (max-width: 650px) {
    display: block;
  }
  // .header-profile__column
  &__column {
    &:first-child {
      margin: 0px 20px 0px 0px;
      @media (max-width: 650px) {
        margin: 0px 0px 10px 0px;
      }
    }
  }
  // .header-profile__avatar
  &__avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    @media (max-width: 650px) {
      margin: 0px auto 10px auto;
    }
    label {
      display: block;
      cursor: pointer;
    }
    &:hover {
      .header-profile__updatePhoto {
        transform: translate(-100px, 0px);
      }
    }
    img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    margin: 0px 0px 10px 0px;
  }
  // .header-profile__status
  &__status {
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
    @media (max-width: 650px) {
      margin: 0px 0px 20px 0px;
    }
  }
  // .header-profile__description
  &__description {
  }
  &__updatePhoto {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50px);
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: "PT-Sans-regular-bold", serif;
    padding: 5px 0 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    @media (pointer: coarse) {
      transform: translate(-100px, 0px);
    }
  }
  &__fileInput {
    display: none;
  }
}
.posts-profile {
  // .posts-profile__top
  &__top {
    margin: 0px 0px 20px 0px;
  }
  // .posts-profile__textarea
  &__textarea {
    margin: 0px 0px 5px 0px;
    textarea {
      resize: vertical;
      width: 50%;
      background-color: #333a45;
      padding: 5px 10px;
      font-size: 18px;
      color: #fff;
      &::placeholder {
        font-size: 18px;
        font-family: "PT-Sans-italic", serif;
        color: grey;
      }
      @media (max-width: $md3) {
        width: 100%;
      }
    }
  }
  // .posts-profile__send
  &__send {
    button {
      background-color: #fff;
      color: #23272f;
      font-size: 18px;
      font-family: "PT-Sans-regular-bold", serif;
      padding: 5px 10px;
    }
  }
  // .posts-profile__bottom
  &__bottom {
    margin: 0px 0px 10px 0px;
  }
}
.posts-profile-bottom {
  display: flex;
  align-items: flex-start;
  // .posts-profile-bottom__avatar
  &__avatar {
    margin: 0px 10px 0px 0px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  // .posts-profile-bottom__text
  &__text {
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
  }
}

.profile-status__text.profile-status__text_user.profile-status__text_active {
  @media (pointer: coarse) {
    cursor: pointer;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-right: none;
    span {
      color: #23272f;
    }
  }
}

.profile-status {
  &__top {
    margin: 0px 0px 5px 0px;
  }
  &__text {
    span {
      font-size: 24px;
      font-family: "PT-Sans-regular-bold", serif;
    }
  }
  &__update {
    display: none;
  }
  @media (pointer: coarse) {
    &__top {
      display: flex;
      margin: 0px 0px 10px 0px;
      align-items: center;
    }
    // .profile-description__info
    &__text {
      span {
        color: #fff;
        font-size: 24px;
        font-family: "PT-Sans-regular-bold", serif;
      }
      &_user {
        padding: 5px 10px;
        background-color: #23272f;
        border: 2px solid #fff;
        border-right: none;
        cursor: pointer;
        span {
          color: #fff;
        }
      }
      &_active {
        span {
        }
      }
    }
    // .profile-description__update
    &__update {
      display: block;
      font-family: "PT-Sans-regular-bold", serif;
      font-size: 24px;
      padding: 5px 10px;
      border: 2px solid #fff;
      border-left: none;
      cursor: pointer;
      span {
      }
      &_active {
        background-color: #fff;
        span {
          color: #23272f;
        }
      }
    }
  }
  &__status {
    background-color: #333a45;
    padding: 5px 10px;
    max-width: 200px;
    min-height: 30px;
    line-height: 22px;
    @media (max-width: 650px) {
      max-width: 100%;
      margin: 0px auto;
      width: 100%;
    }
  }
  &__placeholder {
    font-family: "PT-Sans-italic", serif;
    color: grey;
  }
  &__textarea {
    width: 100%;
    textarea {
      background-color: #333a45;
      width: 100%;
      font-size: 18px;
      font-family: "PT-Sans-italic", serif;
      resize: vertical;
      color: #fff;
      min-height: 100px;
      padding: 5px 10px;
      &::placeholder {
      }
    }
    margin: 0px 0px 5px 0px;
  }
  &__buttons {
    display: flex;
    @media (max-width: 650px) {
      justify-content: flex-end;
    }
  }
  &__save {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    margin: 0px 10px 0px 0px;
    span {
      display: block;
      padding: 5px 10px;
      color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
  &__cancel {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    span {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #23272f;
      }
    }
  }
}

.profile-description__info.profile-description__info_user.profile-description__info_active {
  cursor: pointer;
  font-family: "PT-Sans-regular-bold", serif;
  font-size: 18px;
  padding: 5px 10px;
  background-color: #fff;
  border: 2px solid #fff;
  border-right: none;
  span {
    color: #23272f;
  }
}

.profile-description {
  // .profile-description__title
  &__title {
    display: flex;
    margin: 0px 0px 10px 0px;
    align-items: center;
  }
  // .profile-description__info
  &__info {
    span {
      color: #fff;
      font-size: 24px;
      font-family: "PT-Sans-regular-bold", serif;
    }
    &_user {
      padding: 5px 10px;
      background-color: #23272f;
      border: 2px solid #fff;
      border-right: none;
      cursor: pointer;
      span {
        color: #fff;
      }
    }
    &_active {
      span {
      }
    }
  }
  // .profile-description__update
  &__update {
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-left: none;
    cursor: pointer;
    span {
    }
    &_active {
      background-color: #fff;
      span {
        color: #23272f;
      }
    }
  }
  // .profile-description__general
  &__general {
    margin: 0px 0px 10px 0px;
  }
  &__line {
    font-size: 18px;
    margin: 0px 0px 5px 0px;
    line-height: 25px;
    span {
      font-family: "PT-Sans-italic-bold", serif;
    }
  }
  // .profile-description__contacts
  &__contacts {
  }
}
.profile-contacts {
  // .profile-contacts__title
  &__title {
    font-size: 18px;
    font-family: "PT-Sans-italic-bold", serif;
    margin: 0px 0px 5px 0px;
  }
  // .profile-contacts__line
  &__line {
    margin: 0px 0px 5px 10px;
    line-height: 25px;
    font-size: 18px;
    span {
      font-family: "PT-Sans-italic-bold", serif;
    }
  }
}

.profile-description {
  // .profile-description__edit
  &__form {
  }
  // .profile-description__row
  &__row {
    display: flex;
    margin: 0px 0px 10px 0px;
    @media (max-width: 400px) {
      display: block;
      &:last-child {
        display: flex;
      }
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
  // .profile-description__name
  &__name {
    font-family: "PT-Sans-italic-bold", serif;
    margin: 0px 10px 0px 0px;
    min-width: 150px;
    font-size: 18px;
    @media (max-width: 650px) {
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 400px) {
      margin: 0px 0px 5px 0px;
    }
  }
  // .profile-description__value
  &__value {
    width: 100%;
    input[type="checkbox"] {
      width: 25px;
      height: 25px;
    }
    input,
    textarea {
      font-size: 18px;
      width: 100%;
      background-color: #333a45;
      color: #fff;
      padding: 5px 10px;
    }
    textarea {
      resize: vertical;
    }
  }
  &__submit {
    margin: 0px 10px 0px 0px;
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    span {
      display: block;
      padding: 5px 10px;
      color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
  &__cancel {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    span {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #23272f;
      }
    }
  }
}
