$mwContainer: 1400px;
$md1: $mwContainer + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontfamily: "PT-Sans-regular";

.users.dark {
  margin-left: 120px;
  padding: 90px 20px 10px 20px;
  background-color: #23272f;
  width: 100%;
  min-height: 100vh;
  @media (max-width: $md3) {
    margin-left: 0;
  }
  .users__bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .users__form {
  }
  .users__no {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "PT-Sans-regular-bold", serif;
  }
}

.users.light {
  margin-left: 120px;
  padding: 90px 20px 10px 20px;
  background-color: #fff;
  border: 2px solid #23272f;
  border-top: none;
  width: 100%;
  min-height: 100vh;
  @media (max-width: $mwContainer) {
    border-right: none;
  }
  @media (max-width: $md3) {
    border-left: none;
  }
  @media (max-width: $md3) {
    margin-left: 0;
  }
  .users__bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .users__form {
  }
  .users__no {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "PT-Sans-regular-bold", serif;
    color: #23272f;
  }
}

.user.dark {
  padding: 0 15px;
  flex: 0 1 25%;
  display: flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  @media (max-width: $mwContainer) {
    flex: 0 1 33.333%;
  }
  @media (max-width: 1050px) {
    flex: 0 1 50%;
  }
  @media (max-width: 600px) {
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user__image {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    @media (max-width: 600px) {
      margin: 0px 0px 5px 0px;
      height: 200px;
      width: 200px;
    }
    img {
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      scale: 1;
      transition: all 0.3s ease 0s;
      &:hover {
        scale: 1.2;
      }
    }
  }
  .user__info {
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .user__name {
    font-family: "PT-Sans-regular-bold", serif;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }
  .user__follow {
    &.loading {
      opacity: 0.5;
      cursor: auto;
    }
    position: relative;
    cursor: pointer;
    background-color: #fff;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    span {
      display: block;
      padding: 5px 10px;
      color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
  .user__unFollow {
    &.loading {
      opacity: 0.5;
      cursor: auto;
    }
    position: relative;
    cursor: pointer;
    background-color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    span {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #23272f;
      }
    }
  }
}

.user.light {
  padding: 0 15px;
  flex: 0 1 25%;
  display: flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  @media (max-width: $mwContainer) {
    flex: 0 1 33.333%;
  }
  @media (max-width: 1050px) {
    flex: 0 1 50%;
  }
  @media (max-width: 600px) {
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user__image {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    @media (max-width: 600px) {
      margin: 0px 0px 5px 0px;
      height: 200px;
      width: 200px;
    }
    img {
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      scale: 1;
      transition: all 0.3s ease 0s;
      &:hover {
        scale: 1.2;
      }
    }
  }
  .user__info {
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .user__name {
    color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }
  .user__follow {
    &.loading {
      opacity: 0.5;
      cursor: auto;
    }
    position: relative;
    cursor: pointer;
    background-color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #23272f;
    span {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #23272f;
      }
    }
  }
  .user__unFollow {
    &.loading {
      opacity: 0.5;
      cursor: auto;
    }
    position: relative;
    cursor: pointer;
    background-color: #fff;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #23272f;
    span {
      display: block;
      padding: 5px 10px;
      color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
}

.paginator.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  .paginator__pages {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    @media (max-width: $md4) {
      padding: 0 6px;
    }
  }
  .paginator__page {
    background-color: #333a45;
    border: 1px solid #fff;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #fff;
      color: #333a45;
    }
    &.active {
      background-color: #fff;
      color: #333a45;
    }
    span {
      font-size: 18px;
      font-family: "PT-Sans-regular-bold", serif;
    }
  }
  .paginator__prev {
  }
  .paginator__next {
  }
  .paginator__button {
    cursor: pointer;
    &_prev {
      &.disabled {
        cursor: auto;
        opacity: 0.5;
      }
    }
    &_next {
      &.disabled {
        cursor: auto;
        opacity: 0.5;
      }
    }
  }
}

.paginator.light {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  .paginator__pages {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    @media (max-width: $md4) {
      padding: 0 6px;
    }
  }
  .paginator__page {
    background-color: #fff;
    border: 1px solid #333a45;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #333a45;
      span {
        color: #fff;
      }
    }
    span {
      font-size: 18px;
      font-family: "PT-Sans-regular", serif;
      color: #333a45;
    }
    &.active {
      background-color: #333a45;
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  .paginator__prev {
  }
  .paginator__next {
  }
  .paginator__button {
    cursor: pointer;
    color: #23272f;
    &_prev {
      &.disabled {
        cursor: auto;
        opacity: 0.5;
      }
    }
    &_next {
      &.disabled {
        cursor: auto;
        opacity: 0.5;
      }
    }
  }
}

.select__friend.dark {
  width: 150px;
  span {
    display: block;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
    @media (max-width: 520px) {
      text-align: center;
    }
  }
  .selectWrapper {
    position: relative;
  }

  .arrow {
    transition: all 0.3s ease 0s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
    }
  }

  .placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    background-color: #333a45;
    border: 2px solid #fff;
  }

  .placeholder[data-selected="true"] {
    color: #fff;
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
  }

  .selectWrapper[data-is-active="true"] .arrow {
    transform: rotate(180deg);
  }

  .select__list {
    display: grid;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    border: 2px solid #fff;
    border-top: none;
  }

  .option {
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #333a45;
    border-bottom: 1px solid #fff;
    color: #fff;
    &:last-child {
      border-bottom: none;
    }
  }

  .option[aria-selected="true"] {
    background-color: #fff;
    color: #333a45;
  }

  .option:hover {
    background-color: #fff;
    color: #333a45;
  }

  .selectWrapper[data-mode="cells"] .select__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .selectWrapper[data-mode="cells"] .option {
    justify-content: center;
  }
}

.select__friend.light {
  width: 150px;
  span {
    display: block;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
    color: #23272f;
    @media (max-width: 520px) {
      text-align: center;
    }
  }
  .selectWrapper {
    position: relative;
  }

  .arrow {
    transition: all 0.3s ease 0s;
    color: #333a45;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
    }
  }

  .placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #23272f;
  }

  .placeholder[data-selected="true"] {
    color: #23272f;
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
  }

  .selectWrapper[data-is-active="true"] .arrow {
    transform: rotate(180deg);
  }

  .select__list {
    display: grid;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    border: 2px solid #23272f;
    border-top: none;
  }

  .option {
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #333a45;
    color: #23272f;
    &:last-child {
      border-bottom: none;
    }
  }

  .option[aria-selected="true"] {
    background-color: #23272f;
    color: #fff;
  }

  .option:hover {
    background-color: #23272f;
    color: #fff;
  }

  .selectWrapper[data-mode="cells"] .select__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .selectWrapper[data-mode="cells"] .option {
    justify-content: center;
  }
}

.select__count.dark {
  width: 150px;
  span {
    display: block;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
    @media (max-width: 520px) {
      text-align: center;
    }
  }
  .selectWrapper {
    position: relative;
  }

  .arrow {
    transition: all 0.3s ease 0s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
    }
  }

  .placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    background-color: #333a45;
    border: 2px solid #fff;
  }

  .placeholder[data-selected="true"] {
    color: #fff;
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
  }

  .selectWrapper[data-is-active="true"] .arrow {
    transform: rotate(180deg);
  }

  .select__list {
    display: grid;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    border: 2px solid #fff;
    border-top: none;
  }

  .option {
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #333a45;
    border-bottom: 2px solid #fff;
    color: #fff;
    &:last-child {
      border-bottom: none;
    }
  }

  .option[aria-selected="true"] {
    background-color: #fff;
    color: #333a45;
  }

  .option:hover {
    background-color: #fff;
    color: #333a45;
  }

  .selectWrapper[data-mode="cells"] .select__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .selectWrapper[data-mode="cells"] .option {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
  }
}

.select__count.light {
  width: 150px;
  span {
    display: block;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
    color: #23272f;
    @media (max-width: 520px) {
      text-align: center;
    }
  }
  .selectWrapper {
    position: relative;
  }

  .arrow {
    transition: all 0.3s ease 0s;
    color: #333a45;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
    }
  }

  .placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #23272f;
  }

  .placeholder[data-selected="true"] {
    color: #23272f;
    font-size: 18px;
    font-family: "PT-Sans-regular", serif;
  }

  .selectWrapper[data-is-active="true"] .arrow {
    transform: rotate(180deg);
  }

  .select__list {
    display: grid;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    border: 2px solid #23272f;
    border-top: none;
  }

  .option {
    padding: 5px;
    cursor: pointer;
    font-family: "PT-Sans-regular", serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #fff;
    border-bottom: 2px solid #333a45;
    color: #23272f;
    &:last-child {
      border-bottom: none;
    }
  }

  .option[aria-selected="true"] {
    background-color: #23272f;
    color: #fff;
  }

  .option:hover {
    background-color: #23272f;
    color: #fff;
  }

  .selectWrapper[data-mode="cells"] .select__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .selectWrapper[data-mode="cells"] .option {
    display: flex;
    justify-content: center;
    border: 1px solid #23272f;
  }
}

.form-users.dark {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0px -5px 20px -5px;
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
  @media (max-width: 520px) {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px -5px 10px -5px;
  }
  .form-users__column {
    padding: 0 5px;
    @media (max-width: 520px) {
      margin: 0px 0px 10px 0px;
    }
  }
  .form-users__input {
    span {
      display: block;
      font-size: 18px;
      margin: 0px 0px 5px 0px;
      @media (max-width: 520px) {
        text-align: center;
      }
    }
    input {
      padding: 5px;
      font-size: 18px;
      background-color: #333a45;
      width: 200px;
      color: #fff;
      border: 2px solid #fff;
      @media (max-width: 650px) {
        width: 150px;
      }
      &::placeholder {
        color: grey;
        font-family: "PT-Sans-italic", serif;
      }
    }
  }
  .form-users__button {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #fff;
    text-wrap: nowrap;
    @media (max-width: 600px) {
      margin: 10px 0px 0px 0px;
    }
    @media (max-width: 520px) {
      margin: 0px;
    }
    span {
      display: block;
      padding: 5px 10px;
      color: #23272f;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #333a45;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
}

.form-users.light {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0px -5px 20px -5px;
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
  @media (max-width: 520px) {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px -5px 10px -5px;
  }
  .form-users__column {
    padding: 0 5px;
    @media (max-width: 520px) {
      margin: 0px 0px 10px 0px;
    }
  }
  .form-users__input {
    span {
      display: block;
      font-size: 18px;
      margin: 0px 0px 5px 0px;
      color: #23272f;
      @media (max-width: 520px) {
        text-align: center;
      }
    }
    input {
      padding: 5px;
      font-size: 18px;
      background-color: #fff;
      width: 200px;
      color: #23272f;
      border: 2px solid #23272f;
      @media (max-width: 650px) {
        width: 150px;
      }
      &::placeholder {
        color: grey;
        font-family: "PT-Sans-italic", serif;
      }
    }
  }
  .form-users__button {
    position: relative;
    cursor: pointer;
    background-color: #23272f;
    font-family: "PT-Sans-regular-bold", serif;
    font-size: 18px;
    border: 2px solid #23272f;
    text-wrap: nowrap;
    @media (max-width: 600px) {
      margin: 10px 0px 0px 0px;
    }
    @media (max-width: 520px) {
      margin: 0px;
    }
    span {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scale: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &:after {
        scale: 1;
      }
      span {
        position: relative;
        z-index: 2;
        color: #23272f;
      }
    }
  }
}
