.preloader.dark {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background-color: #23272f;
  img {
    width: 150px;
    height: 150px;
  }
}

.preloader.light {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  img {
    width: 150px;
    height: 150px;
  }
}
