$minwidth: 320px;
$mw: 1600px;
$mwContainer: 1400px;
$md1: $mwContainer + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontfamily: "PT-Sans-regular";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: $mwContainer;
  margin: 0px auto;
}

.main {
  display: flex;
  align-items: flex-start;
}
