$mwContainer: 1400px;
$md1: $mwContainer + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontfamily: "PT-Sans-regular";

.sidebar.dark {
  background-color: #23272f;
  position: fixed;
  top: 80px;
  width: 120px;
  transition: all 0.3s ease 0s;
  @media (max-width: $md3) {
    top: 70px;
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 4;
    overflow: auto;
    left: 0;
    background-color: #23272f;
    transition: transform 0.3s ease;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
    }
  }

  // .sidebar__body
  .sidebar__body {
  }
  // .sidebar__list
  .sidebar__list {
    @media (max-width: $md3) {
      text-align: center;
    }
    li {
      padding: 10px 15px;
      border-bottom: 2px solid #333a45;
      transition: all 0.3s ease 0s;
      @media (max-width: $md3) {
        padding: 20px 25px;
      }
    }
  }
  // .sidebar__link
  .sidebar__link {
    color: #fff;
    font-size: 18px;
    font-family: "PT-Sans-regular-bold", serif;
    transition: all 0.3s ease 0s;
    @media (max-width: $md3) {
      font-size: 28px;
    }
    &:hover {
      color: #00d8ff;
    }
    &_active {
      color: #00d8ff;
    }
  }
}

.sidebar.light {
  background-color: #fff;
  position: fixed;
  top: 80px;
  width: 120px;
  transition: all 0.3s ease 0s;
  border-left: 2px solid #23272f;

  @media (max-width: $mwContainer) {
    border-left: none;
  }
  @media (max-width: $md3) {
    top: 70px;
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 4;
    overflow: auto;
    left: 0;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
    &.active {
      transform: translateY(0);
    }
  }

  // .sidebar__body
  .sidebar__body {
  }
  // .sidebar__list
  .sidebar__list {
    @media (max-width: $md3) {
      text-align: center;
    }
    li {
      padding: 10px 15px;
      border-bottom: 2px solid #23272f;
      transition: all 0.3s ease 0s;
      @media (max-width: $md3) {
        padding: 20px 25px;
      }
    }
  }
  // .sidebar__link
  .sidebar__link {
    color: #23272f;
    font-size: 18px;
    font-family: "PT-Sans-regular-bold", serif;
    transition: all 0.3s ease 0s;
    @media (max-width: $md3) {
      font-size: 28px;
    }
    &:hover {
      color: #087ea4;
    }
    &_active {
      color: #087ea4;
    }
  }
}
